<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Tasks</h1>
<a th:href="@{/products/create/}">Create New file</a>
<table border="1px">
    <thead>
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Image
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product: ${products}">
        <td th:text="${product.getName()}"></td>
        <td th:text="${product.getDescription()}"></td>
        <td>
            <img width="150px" height="150px" th:src="${product.getImgSrc()}">
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>